[submodule "UNREAL 8.0/extern/spdlog"]
	path = UNREAL 8.0/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OAR/extern/assimp"]
	path = OAR/extern/assimp
	url = https://github.com/assimp/assimp.git
[submodule "OAR/extern/glfw"]
	path = OAR/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "OAR/extern/glew-cmake"]
	path = OAR/extern/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git

[submodule "OAR/extern/glm"]
	path = OAR/extern/glm
	url = https://github.com/g-truc/glm
[submodule "OAR/extern/imgui"]
	path = OAR/extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "OAR/extern/spdlog"]
	path = OAR/extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "OAR/extern/fastnoise2"]
	path = OAR/extern/fastnoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "OAR/extern/imguizmo"]
	path = OAR/extern/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "OAR/extern/stb"]
	path = OAR/extern/stb
	url = https://github.com/nothings/stb
[submodule "OAR/extern/physx"]
	path = OAR/extern/physx
	url = https://github.com/NVIDIA-Omniverse/PhysX
