[submodule "ORNG-Core/extern/assimp"]
	path = ORNG-Core/extern/assimp
	url = https://github.com/assimp/assimp
[submodule "ORNG-Core/extern/glfw"]
	path = ORNG-Core/extern/glfw
	url = https://github.com/glfw/glfw
[submodule "ORNG-Core/extern/glew-cmake"]
	path = ORNG-Core/extern/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "ORNG-Core/extern/glm"]
	path = ORNG-Core/extern/glm
	url = https://github.com/g-truc/glm
[submodule "ORNG-Core/extern/yaml"]
	path = ORNG-Core/extern/yaml
	url = https://github.com/jbeder/yaml-cpp
[submodule "ORNG-Editor/extern/imguizmo"]
	path = ORNG-Editor/extern/imguizmo
	url = https://github.com/orangefrog45/ImGuizmo
[submodule "ORNG-Core/extern/spdlog"]
	path = ORNG-Core/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ORNG-Core/extern/stb"]
	path = ORNG-Core/extern/stb
	url = https://github.com/nothings/stb
[submodule "ORNG-Core/extern/bitsery"]
	path = ORNG-Core/extern/bitsery
	url = https://github.com/fraillt/bitsery
[submodule "ORNG-Core/extern/fmod"]
	path = ORNG-Core/extern/fmod
	url = https://github.com/orangefrog45/fmod-module
[submodule "ORNG-Core/extern/implot"]
	path = ORNG-Core/extern/implot
	url = https://github.com/epezent/implot
[submodule "ORNG-Editor/extern/lua"]
	path = ORNG-Editor/extern/lua
	url = https://github.com/marovira/lua
[submodule "ORNG-Core/extern/tracy"]
	path = ORNG-Core/extern/tracy
	url = https://github.com/wolfpld/tracy
[submodule "ORNG-Editor/extern/sol2"]
	path = ORNG-Editor/extern/sol2
	url = https://github.com/ThePhD/sol2
[submodule "ORNG-Core/extern/imgui"]
	path = ORNG-Core/extern/imgui
	url = https://github.com/orangefrog45/imgui
[submodule "ORNG-Core/extern/VRlib"]
	path = ORNG-Core/extern/VRlib
	url = https://github.com/orangefrog45/VRlib
